<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.reaksmeyarun.pda">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.activity.ContactActivity"></activity>
        <activity android:name=".view.activity.Z0700SettingActivity" />
        <activity
            android:name=".view.activity.Z0300VerificationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activity.Z0400SignUpActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activity.Z0100SplashScreenActivity"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.activity.Z0200SignInActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activity.P0200HomeActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>